body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  /* Background*/
 
    background: url(header.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}

h1{ 
  font-size: 3rem;
  color: #F9F9F9;
  font-family: 'Beaufort for LOL';
}

.btn { 
  font-size: 0.85rem;
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

.btn-primary { 
  background-color: #f05f44;
  border-color: #f05f44;
}

.btn-primary:hover { 
 
  background-color: #d0513b;
  border-color: #d0513b;
  transition: 1s ;
  transform: scale(1.1);
}
 


.buffer{ 
  height: 10rem;
}

hr{ 
  max-width: 65px;
  border-color: #f05f44;
  border-width: 3px;
}